<nav>
  <ul class="menu">
    <li><a routerLink="/first" routerLinkActive="active">1. Drag</a></li>
    <li><a routerLink="/second" routerLinkActive="active">2. Grid, Drag & Zoom</a></li>
    <li><a routerLink="/third" routerLinkActive="active">3. Links</a></li>
    <li><a routerLink="/fourth" routerLinkActive="active">4. Tree</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
