/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.menu {
  display: block;
  background-color: aliceblue;
  padding: 8px;
  border-bottom: solid 1px thistle;
  margin-bottom: 20px;

  li {
    display: inline-block;
    margin-left: 20px;

    a {
      text-decoration: none;
      color: darkmagenta;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.title {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 20px;
  margin-bottom: 10px;
}
app-root,
.main-container {
  display: block;
  width: 100%;
  height: 80vh;


}

.main-container {
  svg {
    width: 100%;
    height: 100%;
  }
}

.node circle {
  fill: orange;
  stroke: orangered;
  stroke-width: 1px;
}

.node text {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.hierarchy-container {
  height: 90vh;
  overflow: auto;
}
